{% extends 'student/base_student.html' %}
{% block content %}
  <script type="text/javascript">
    (function () {
      var amis = amisRequire("amis/embed");
      // 用 amis 的 sdk 渲染内容区
      amis.embed("#main", {
        type: "page",
        "title": "查询已选课程",
        "body": [
          {
            "type": "service",
            "api": "/student/get_my_sections",
              "body":[{
                  "type": "table",
                  "source": "$rows",

            "columns": [
              {
                "name": "sec_id",
                "label": "课程编号"
              },
              {
                "name": "name",
                "label": "课程名称"
              },
              {
                "name": "semester",
                "label": "学期"
              },
              {
                "name": "year",
                "label": "年份"
              },
              {
                "name": "teacher_name",
                "label": "授课教师"
              },

              {
                "name": "classroom_name",
                "label": "上课地点"
              },
              {
                "name": "day_of_week",
                "label": "上课日"
              },
              {
                "name": "start_time",
                "label": "开始时间"
              },
              {
                "name": "end_time",
                "label": "结束时间"
              },
              {
                "name": "start_week",
                "label": "开始周"
              },
              {
                "name": "end_week",
                "label": "结束周"
              },
              {
                "name": "department",
                "label": "开课院系"
}
]
    }
    ]
}
]
});
})();
</script>
{% endblock %}